.prelaoder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181617;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .preloader-video {
    width: 250vh;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .preloader-video {
      height: auto;
    }
  }